* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Arial";
	background-color: #B7B7B7;
}

table {
	
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 3%;
	background-color: #f1f1f1;
}

.tableau1 {
	width: 1213px;
}

.tableau2 {
	position: absolute;
	width: 1213px;
	line-height: 18px;
	margin-top: -40px;
}

.tableau3 {
	height: 1213px;
}

tfoot {
	position: absolute;
	background-color: #3D91CD;
	width: 1213px;
	line-height: 10px;
	margin-top: -22px;
	margin-left: -2px;
}

i {
	color: #3D91CD;
}

.div1 {
	background-color: #3D91CD;
	height: 80px;
	width: 110px;
	color: white;
	margin-left: 30px;
}

.div2 {
	position: absolute;
	height: 90px;
	width: 90px;
	background-color: #3D91CD;
	color: white;
	text-align: center;
	transform: rotateZ(290deg);
	opacity: 0.7;
	margin-left: -60px;
}

.tdiv2 {
	padding-top: 10px;
}

.div3 {
	height: 90px;
	width: 90px;
	background-color: #3D91CD;
	color: white;
	text-align: center;
	transform: rotateZ(290deg);
	opacity: 0.7;
	z-index: 1;
	margin-left: -3px;
	margin-right: 20px;
}

.tdiv3 {
	padding-top: 65px;
}

.div1 p {
	padding-top: 60px;
}

thead h1 {
	text-align: left;
	color: #3D91CD;
	font-size: 70px;
	margin-left: 30px;
	margin-top: -35px;
}

thead h2 {
	text-align: left;
	margin-left: 30px;
}

.coordonnées {
	text-align: left;
}

thead h6 {
	color: #3D91CD;
	padding-left: 535px;
}

.chieur {
	position: absolute;
	color: #3D91CD;
	margin-top: 145px;
	margin-left: 18px;
}

tbody h3 {
	color: #3D91CD;
}

.soustableau1 {
	margin-top: -335px;
}

.soustableau2vide {
	width: 20px;
}

.soustableau3 {
	margin-top: 160px;
}

.capacités {
	width: 300px;
	line-height: 30px;
}

progress {
	background-color: #f1f1f1;
	border-color: #3D91CF;
	border: none;
	width: 280px;
	margin-left: 23px;
}

.progress1 {
	line-height: 30px;
}

.outils {
	line-height: 30px;
}

.progress2 {
	line-height: 30px;
}

.système {
	line-height: 30px;
}

.progress3 {
	line-height: 30px;
}

.basicshit {
	width: 300px;
	line-height: 30px;
}

.progress4 {
	line-height: 30px;
}

h4 {
	color: #3D91CD;
	opacity: 0.7;
}

.espace {
	line-height: 30px;
}